.anchor {
    -fx-background-image: url('hellofx/cute.jpg');
}
#mainPage {
    -fx-background-image: url("../photos/background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1000;
    -fx-background-position: -200 center;
}